#box1{
    border: solid 1px;
    height: 180px;
    background-color: rgb(197, 100, 64);
}
#box2{
    border: solid 1px;
    height: 180px;

}
#box3{
    border: solid 1px;
    height: 180px;
    background-color: darkgreen;
}