.text1{
    color:blueviolet;
}
.text2{
    color:rgba(177, 89, 16, 0.171);
}
h2,h3{
    font-size: large;
    color:teal;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}